.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  background-color: var(--headerColor);
  min-height: 4rem;
  color: white;
}

.signUpButton,
.logInButton {
  color: white;
  padding: 10px 25px;
  border-radius: 12px;
  border: none;
  background-color: inherit;
  background-color: var(--buttonColor);
  transition: background-color 0.2s linear;
}

.logInButton {
  margin-right: 10px;
}

.signUpButton:hover,
.logInButton:hover {
  background-color: rgb(136, 136, 224);
  cursor: pointer;
}

.projectName a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .mainHeader {
    padding: 0 3%;
  }
}

@media (max-width: 768px) {
  .mainHeader {
    padding: 0 1%;
  }
  .signUpButton,
  .logInButton {
    padding: 5px 10px;
    border-radius: 8px;
  }

  .logInButton {
    margin-right: 20px;
  }
}
