.homePageCaption {
  margin-top: 1rem;
  text-align: center;
}

.selectItemWrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 0;
}

.dataResults,
.selectItemWrapper {
  color: white;
  border-radius: 12px;
  width: 70%;
  background-color: var(--mainContentColor);
  padding: 1.5rem;
}

.dataResults {
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectItemWrapper select {
  border-radius: 6px;
  background-color: var(--selectInputColor);
  padding: 0.2rem;
}
.searchForItems input {
  border-radius: 6px;
  background-color: var(--selectInputColor);
  border: none;
  padding: 0.2rem;
}
.searchForItems {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.searchForItems label {
  margin-right: 6px;
}

@media (max-width: 992px) {
  .dataResults,
  .selectItemWrapper {
    width: 90%;
  }
}

button.addItemButton {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--buttonColor);
  color: white;
  transition: 0.2s linear;
}

button.addItemButton:hover {
  cursor: pointer;
  background-color: rgb(136, 136, 224);
}

.addItemIcon {
  width: 20px;
  height: 20px;
}

.noItemsParagraph {
  text-align: center;
  font-size: 20px;
  padding-top: 1rem;
}
