.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modalWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  background-color: var(--mainContentColor);
  color: white;
  padding: 1.5rem 3rem;
  min-width: 50%;
}

.updateModalHeader {
  text-align: center;
  padding-top: 1rem;
  font-size: 26px;
}

.singleInput label {
  display: block;
  padding: 1rem 0 0.4rem;
  font-size: 20px;
}

.singleInput input {
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem;
}

.updateModalFooter {
  margin: 1.5rem 0 0.5rem;
  display: flex;
  justify-content: space-between;
}

.updateModalFooter button {
  padding: 5px 20px;
  border-radius: 6px;
  border: none;
  transition: 0.15s linear;
  font-size: 16px;
}

.updateButton {
  background-color: var(--confirmButtonColor);
}

.cancelButton {
  background-color: var(--rejectButtonColor);
}

.updateButton:hover {
  background-color: var(--confirmButtonHoverColor);
}

.cancelButton:hover {
  background-color: var(--rejectButtonHoverColor);
}

.updateModalFooter button:hover {
  cursor: pointer;
  transform: scale(108%);
}
