.singleItemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem;
  border-bottom: 1px solid white;
}

.singleItemWrapper:last-child {
  border: none;
}

.itemName,
.itemAmount,
.itemDescription,
.itemDate {
  padding: 2px;
}

.itemName {
  flex-basis: 20%;
}

.itemAmount {
  flex-basis: 15%;
}

.itemDescription {
  flex-basis: 43%;
}

.itemDate {
  flex-grow: 1;
}

.itemActionsWrapper {
  flex-basis: 5%;
  display: flex;
  justify-content: space-between;
}

.manageItemIcon {
  width: 20px;
  height: 20px;
  transition: 0.1s linear;
}

.manageItemIcon:hover {
  transform: scale(125%);
  cursor: pointer;
}
