.authForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
}

.authInputWrapper label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 700;
  color: white;
}

.authInputWrapper input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  line-height: 100%;
  font-size: 14px;
  background-color: var(--selectInputColor);
}

.submitFormButton {
  max-width: 40%;
  padding: 12px;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 6px;
  color: white;
  transition: 0.2s linear;
}

.submitFormButton:hover {
  cursor: pointer;
  background-color: rgb(136, 136, 224);
}

h4.authCaption {
  color: var(--buttonColor);
  font-size: 20px;
  color: white;
}
