.authWrapper {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 8px 8px 23px -17px rgba(66, 68, 90, 1);
  background-color: rgb(225, 225, 225);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.errorWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin: 2rem auto 0;
  border-radius: 10px;
  background-color: red;
  padding: 1rem 0;
}

.errorHeader {
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 14px;
  margin-right: 1rem;
}

.errorImage {
  width: 25px;
  height: 25px;
}
