.authWrapper {
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 8px 8px 23px -17px rgba(66, 68, 90, 1);
  background-color: rgb(225, 225, 225);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .authWrapper {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .authWrapper {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .authWrapper {
    width: 67%;
  }
}

@media (max-width: 768px) {
  .authWrapper {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .authWrapper {
    width: 80%;
  }
}
