@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Inter:wght@200&family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --buttonColor: #6878a6;
  --headerColor: #5a6b8c;
  --mainContentColor: #3f5573;
  --selectInputColor: #cedef2;
  --authenticationColor: #7790a6;

  --confirmButtonColor: rgb(21, 175, 67);
  --rejectButtonColor: rgb(227, 0, 0);
  --confirmButtonHoverColor: rgb(10, 223, 74);
  --rejectButtonHoverColor: rgb(231, 42, 42);
}

body {
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
